body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
display: flex;
justify-content: center;


width: 1000px;
margin: 0 auto;
flex-direction: column;
padding: 1rem;
border: 1px solid hotpink;
}

.container{
    padding: 2rem;
    display: flex;
  
    align-items: center;
    
}

.header{
    background: rgb(110, 56, 110);
    color: white;
  
 
 

}

.header .title p{
    font-size: 1.5rem;
    margin: 0;
}
.header h4{
    font-size: 3rem;
    margin: 0;
}

.main{
    
    gap: 1rem;
    padding: 1rem;
}







